{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="py-5" style="min-height: 650px;">
    <div class="container">
        {% include 'includes/filter.html' %}

        <div class="row">
           <div class="col-md-2">
                <form method="get" class="mb-4">
                    <div class="d-flex flex-column gap-2" style="max-height: 400px; overflow-y: auto;">
                        {% for year in years %}
                            <a href="?{% if current_type %}type={{ current_type }}&{% endif %}year={{ year }}" 
                            class="btn year-btn w-100 fw-bold {% if year|stringformat:"s" == current_year %}active-year{% endif %}">
                                {{ year }}
                            </a>
                        {% endfor %}
                    </div>
                </form>
            </div>

            <div class="col-md-5 position-relative">
                <div class="list-group shadow-sm position-relative" style="max-height: 400px; overflow-y: auto;">
                    {% for event in events %}
                        <a href="{% url 'event_detail' event.pk %}" 
                        target="_blank"
                        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center gap-4 py-2 position-relative event-item {% if forloop.first %}active-item{% endif %}"
                        data-img="{% if event.event_foto %}{{ event.event_foto.image.url }}{% else %}{% static 'assets/default.jpg' %}{% endif %}">
                            <div class="flex-grow-1 text-content">
                                <h5 class="mb-1 event-title">{{ event.event_name }}</h5>
                            </div>
                        </a>
                    {% empty %}
                        <div class="alert alert-warning mt-3">Событий не найдено по фильтрам.</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5">
                <div id="fixed-preview" class="d-none">
                    <img src="" alt="Превью" class="img-fluid rounded shadow mediaModile"
                         style="width: 100%; max-width: 800px; max-height: 400px; object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</section>
<style>
@media (max-width: 766px){
    .mediaModile {display: none;}
}

.d-flex.flex-column {
    padding-right: 25px;
    scrollbar-color: #666 #e0e0e0;
}
</style>
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}
