{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container py-5" style="min-height: 650px;">
    {% include 'includes/filter.html' %}
    <div class="card shadow border-0 rounded-4 overflow-hidden">
        <div class="row g-0 flex-column flex-md-row">
            {% if event.event_foto %}
                <div class="col-md-6 order-1 order-md-2">
                    <img src="{{ event.event_foto.image.url }}"
                         alt="{{ event.event_name }}"
                         class="w-100 h-100 object-fit-contain"
                         style="max-height: 700px; ">
                </div>
            {% endif %}

            <div class="col-md-6 order-2 order-md-1">
                <div class="card-body p-4">
                    <h2 class="card-title fw-bold mb-2">{{ event.event_name }}</h2>
                    <p class="text-muted mb-4">
                        <i class="bi bi-calendar-event me-1"></i>
                        <span class="fw-bold" style="margin-right: 10px;">{{ event.event_year }}</span>
                        {{ event.event_date1 }} – {{ event.event_date2 }}
                    </p>

                    <h5 class="text-primary fw-semibold">Краткое описание</h5>
                    <p class="mb-4">{{ event.event_description }}</p>

                    {% if event.event_report %}
                        <h5 class="text-primary fw-semibold">
                            {% if event.event_type == 0 %}
                                Отчет
                            {% elif event.event_type == 1 %}
                                Анонс
                            {% else %}
                                Отчет
                            {% endif %}
                        </h5>
                <div class="bg-light p-3 rounded-3 border mb-4"
                    style="max-height: 300px; overflow-y: auto;">
                    {{ event.event_report }}
            </div>
                    {% endif %}
                    <div class="d-flex flex-wrap gap-3">
                        <a href="{{ event.event_route }}" target="_blank"
                           class="btn btn-outline-secondary d-flex align-items-center gap-2">
                            <i class="bi bi-geo-alt-fill"></i> Маршрут
                        </a>
                        {% if event.event_video %}
                            <a href="{{ event.event_video }}" target="_blank"
                               class="btn btn-primary d-flex align-items-center gap-2">
                                <i class="bi bi-play-circle"></i> Смотреть видео
                            </a>
                        {% endif %}
                        {% if event.event_album %}
                            <a href="{{ event.event_album }}" target="_blank"
                               class="btn btn-outline-secondary d-flex align-items-center gap-2">
                                <i class="bi bi-images"></i> Фотоальбом
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/events.js' %}"></script>
{% endblock %}
